.card-flex {
  display: flex;
  justify-content: space-between;
  margin: 38px auto 66px;
  @include media('<=tablet-lg') {
    flex-direction: column;
    position: relative;
  }
}

.card-showcase {
  width: 50%;
  margin-right: 22.5px;
  @include media('<=tablet-lg') {
    width: 100%;
    padding: 0 15px;
    margin-top: 100px;
  }
  &-big {
    img {
      height: 586px;
      @include media('<=tablet-lg') {
        height: auto;
      }
    }

    .slick-dots {
      display: flex;
      justify-content: center;
      @extend %listreset;
      li {
        margin: 15px 7.5px;
        &.slick-active {
          button {
            background: #E5002B;
          }
        }
        button {
          width: 13px;
          height: 13px;
          border-radius: 100%;
          background: #D8D8D8;
          border: none;
          color: transparent;
          outline: none;
        }
      }
    }
  }
  &-small {
    @include media('<=tablet-lg') {
      display: none;
    }
    .slick-list {
      margin: 31px -13px 0;
      .slick-slide {
        margin: 0 13px;
        img {
          height: 109px;
          @include media('<=tablet-lg') {
            height: auto;
          }
        }
      }
    }
  }
}

.card-info {
  width: 50%;
  margin-left: 22.5px;
  @include media('<=tablet-lg') {
    width: 100%;
    padding: 0 15px;
    margin: 20px 0;
  }
  &__box {
    display: grid;
    grid-template-columns: 55% 1fr;
    grid-column-gap: 5px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    padding: 29px 34px;
    @include media('<=tablet-lg') {
      display: flex;
      flex-direction: column;
      align-items: center;
      box-shadow: none;
      padding: 0;
    }
    &__title {
      color: #393939;
      font-family: "Futura PT";
      font-size: 24px;
      font-weight: bold;
      letter-spacing: 0;
      line-height: 30px;
      order: 1;
      @include media('<=tablet-lg') {
        position: absolute;
        top: 0;
        height: 60px;
        align-self: start;
      }
      &__article {
        color: #B4B4B4;
        font-size: 14px;
        letter-spacing: 0;
        line-height: 14px;
        margin: 15px 0 20px;
        @include media('<=tablet-lg') {
          display: none;
        }
      }
    }
    &__stock {
      order: 2;
      text-align: right;
      .--in-stock {
        color: #1E7960;
        font-family: map-get($fonts, 'medium');
        font-size: 16px;
        font-weight: 500;
        position: relative;
        &:before {
          content: '';
          display: inline-block;
          margin: 0 15px 0 0;
          width: 13px;
          height: 22px;
          border: solid #1E7960;
          border-width: 0 3px 3px 0;
          transform: rotate(45deg);
          @include media('<=tablet-lg') {
            margin: 0 15px 0 10px;
          }
        }
      }
      @include media('<=tablet-lg') {
        position: absolute;
        top: 60px;
        height: 20px;
        text-align: left;
        align-self: start;
      }
    }
    &__price {
      display: flex;
      flex-direction: column;
      order: 3;
      padding-top: 30px;
      @include media('<=tablet-lg') {
        padding-top: 0;
      }
      &-old {
        color: #E5002B;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 0;
        line-height: 36px;
        text-decoration: line-through;
        font-family: map-get($fonts, 'medium');
        @include media('<=tablet-lg') {
          text-align: center;
        }
      }
      &-actual {
        color: #393939;
        font-size: 36px;
        font-family: map-get($fonts, 'bold');
        font-weight: bold;
        letter-spacing: 0;
        line-height: 36px;
      }
    }
    &__rating {
      display: flex;
      justify-content: start;
      align-items: center;
      order: 5;
      margin: 44px 0 0;
    }
    
    &__reviews {
      font-size: 18px;
      letter-spacing: 0;
      line-height: 22px;
      padding-left: 10px;
      color: #393939;
      border-left: 1px solid #393939;
      order: 5;
    }
    &__buy {
      margin: 10px 0;
      order: 4;
      text-align: center;
      .btn-buy {
        margin: 0 0 17px;
        text-align: center;
        width: 205px;
        &-invert {
          width: 205px;
          font-size: 18px;
          text-align: center;
          margin: 0 0 20px;
        }
      }
    }
    &__buy-options {
      order: 7;
      grid-column-start: 1;
      grid-column-end: 3;
      margin: 32px 0 0;
      display: flex;
      @include media('<=tablet-lg') {
        flex-direction: column;
        align-items: center;
      }
      .delivery-box,
      .payment-box {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 26px;
        font-family: map-get($fonts, 'medium');
        @include media('<=tablet-lg') {
          flex-direction: column;
          width: 100%;
          max-width: 182px;
          padding: 0 15px;
          margin: 0 0 15px;
          text-align: center;
        }
        img {
          margin-right: 14px;
          @include media('<=tablet-lg') {
            margin: 0 0 14px;
          }
        }
      }
    }
  }
  &__description {
    margin: 44px 0 0;
    @include media('<=tablet-lg') {
      display: none;
    }
    .tt {
      text-transform: uppercase;
      font-size: 20px;
      font-family: map-get($fonts, 'medium');
      margin: 0;
    }
    p {
      line-height: 21px;
    }
  }
}

.mobile_tabs {
  display: none;
  @include media('<=tablet-lg') {
    display: block;
  }
  .tabs {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #D6D6D6;
    .tab {
      font-size: 16px;
      font-family: map-get($fonts, 'medium');
      letter-spacing: 0;
      line-height: 21px;
      text-align: center;
      padding: 0 15px 7px;
      position: relative;
      &:after {
        content: '';
        width: 100%;
        position: absolute;
        bottom: -2px;
        left: 0;
        height: 4px;
        background: transparent;
      }
      &.active {
        &:after {
          background: #1E7960;
        }
      }
    }
  }
  .tab_item {
    display: none;
    padding: 15px;
    &:first-child {
      display: block;
    }
  }
} 


.card-details {
  background: #FBFBFB;
  padding: 30px 0 36px;
  @include media('<=tablet-lg') {
    display: none;
  }
  .container {
    justify-content: space-between;
  }
  &__chars {
    width: 50%;
    margin-right: 22.5px;
    background: #fff;
    padding: 32px 30px 39px;
    @include media('<=tablet-lg') {
      width: 100%;
      padding: 0;
    }
    .t-lead {
      color: #393939;
      font-size: 24px;
      font-family: map-get($fonts, 'medium');
      letter-spacing: 0;
      line-height: 31px;
      margin: 0 0 30px;
      @include media('<=tablet-lg') {
        padding: 30px;
      }
    }
    .chars-grid {
      display: flex;
      @include media('<=tablet-lg') {
        margin: -15px;
      }
      .left-col,
      .right-col {
        width: 50%;
        div {
          height: 40px;
          line-height: 40px;
          padding: 0 14px;
          @include media('<=tablet-lg') {
            white-space: pre;
          }
          &:nth-child(odd) {
            background: #F9F9F9;
          }
        }
      }
    }
  }
  &__reviews {
    width: 50%;
    margin-left: 22.5px;
    background: #fff;
    padding: 32px 30px 0;
    @include media('<=tablet-lg') {
      width: 100%;
      padding: 0;
      margin: 0;
    }
    &-head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 0 30px;
      .t-lead {
        color: #393939;
        font-size: 24px;
        font-family: map-get($fonts, 'medium');
        letter-spacing: 0;
        line-height: 31px;
      }
    }
    &-put {
      display: flex;
      justify-content: flex-end;
      justify-items: center;
      img {
        margin-right: 10px;
      }
      span {
        font-size: 18px;
        font-family: map-get($fonts, 'medium');
        letter-spacing: 0;
        line-height: 23px;
        color: #1E7960;
      }
    }
    &-item {
      margin: 0 0 30px;
      &__author {
        display: flex;
        justify-content: start;
        align-items: center;
        font-size: 18px;
        margin: 0 0 10px;
        .comment-date {
          margin: 0 10px;
        }
      }
      
    }
  }
}

.similar-products {
  margin: 20px 0;
  .title {
    color: #3D3D3D;
    font-family: map-get($fonts, 'medium');
    font-size: 36px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 46px;
    text-align: center;
  }
  .slick-list {
    margin: 0 -14px;
    @include media('<tablet-lg') {
      margin: 0;
    }
    .slick-slide {
      margin: 0 14px;
      outline: none;
      &:focus {
        outline: none;
      }
    }
  }
  .catalog-grid__item {
    position: relative;
    .catalog-grid__item-overlay {
      border: solid transparent;
    }
    &:hover {
      overflow: visible;
      height: 542px;
      box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
      .catalog-grid__item-overlay {
        z-index: 0;
        border: solid transparent;
      }
    }
  }
  .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 32px;
    height: 32px;
    background-color: #1E7960;
    z-index: 1;
    @include media('<=tablet-lg') {
      transform: translateY(0%);
    }
    &.arrow-left {
      display: block;
      background-image: url('../images/chevron.svg');
      background-repeat: no-repeat;
      background-position: 50% 50%;
      transform: rotate(-180deg);
      left: -16px;
      @include media('<=tablet-lg') {
        left: 10px;
      }
    }
    &.arrow-right {
      display: block;
      background-image: url('../images/chevron.svg');
      background-repeat: no-repeat;
      background-position: 50% 50%;
      right: -16px;
      @include media('<=tablet-lg') {
        right: 10px;
      }
    }
    &.slick-disabled {
      opacity: 0.5;
    }
  }
}