// Global variables

$font-size: (
  'h1-font-size': 42px,
  'h2-font-size': 38px,
  'h3-font-size': 30px,
  'h4-font-size': 24px,
  'h5-font-size': 20px,
  'h6-font-size': 16px,
  'base': 14px,
  'massive': 16px
);

$line-height: (
  'h1-line-height': 42px,
  'h2-line-height': 1.4,
  'h3-line-height': 1.4,
  'h4-line-height': 1.4,
  'h5-line-height': 1.4,
  'h6-line-height': 1.4,
  'base': 1.24em
);

$fonts: (
  'default': unquote("'Futura PT'"),
  'medium': unquote("'Futura PT Medium'"),
  'bold': unquote("'Futura PT Bold'"),
  'montserrat': unquote("Montserrat, sans-serif"),
  'playfair': unquote("Playfair Display, serif"),
);

$colors: (
  'base':
    (
      'white': #fff,
      'black': #000,
      'black-light': #333,
      'link-hover': #1E7960,
      'grey': rgba(242,239,236,0.51),
      'red': #E5002B,
      'lighten-black': #1b2541,
      'link-color': #39f,
      'selection': #b4d5ff
    ),
  'theme':
    (
      'primary': #006A69,
      'secondary': #004948,
      'green': #1E7960,
      'light-grey': #f5f7fc,
      'grey': #7f7f7f,
      'error': #ff3c3c,
      'placeholder': #999,
      'logo-bg': #7577cd
    )
);

// Base media breakpoints
$breakpoints: (
  'desktop-sm': 1200px,
  'tablet-lg' : 1024px,
);

// Keywords for include media mixin
$media-expressions: (
  'screen': 'screen',
  'print': 'print',
  'handheld': 'handheld',
  'landscape': '(orientation: landscape)',
  'portrait': '(orientation: portrait)',
  'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
  'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
);

// z-indexes, using: z-index: z('SEMANTIC_VALUE');
$z-indexes: ('preloader', 'modal', 'hight', 'content', 'low');
