.btn {
  height: 44px;
  padding: 0 45px 0 16px;
  font-size: 16px;
  border: none;
  color: #fff;
  font-family: map-get($fonts, 'medium');
  background: map-deep-get($colors, 'theme', 'primary');
  background-image: url('../images/arrow-white.svg');
  background-repeat: no-repeat;
  background-position: 90% 52%;
  display: flex;
  align-items: center;
  text-align: left;
  white-space: nowrap;
  transition: .25s;
  letter-spacing: .5px;
  cursor: pointer;
  &:hover {
    background: map-deep-get($colors, 'theme', 'secondary');
    background-image: url('../images/arrow-white.svg');
    background-repeat: no-repeat;
    background-position: 90% 52%;
  }
  
  &-invert {
    @extend .btn;
    color: map-deep-get($colors, 'base', 'black-light');
    background: transparent;
    background-image: url('../images/arrow-black.svg');
    background-repeat: no-repeat;
    background-position: 90% 52%;
    border: 1px solid map-deep-get($colors, 'base', 'black-light');
    &:hover {
      color: map-deep-get($colors, 'base', 'white');
      background: map-deep-get($colors, 'base', 'black-light');
      background-image: url('../images/arrow-white.svg');
      background-repeat: no-repeat;
      background-position: 90% 52%;
    }
  }
  &-white {
    @extend .btn;
    color: #fff;
    background: transparent;
    background-image: url('../images/arrow-white.svg');
    background-repeat: no-repeat;
    background-position: 90% 52%;
    border: 1px solid #fff;
    cursor: pointer;
  }
  &-buy {
    display: block;
    height: 49px;
    line-height: 46px;
    width: 231px;
    border: 1px solid map-deep-get($colors, 'base', 'red');
    color: map-deep-get($colors, 'base', 'red');
    background-image:none;
    padding: 0 16px;
    font-size: 18px;
    font-family: map-get($fonts, 'medium');
    text-transform: uppercase;
    letter-spacing: 0;
    &:hover {
      background-color:  map-deep-get($colors, 'base', 'red');
      color: #fff;
    }
    &-invert {
      display: block;
      height: 49px;
      line-height: 46px;
      width: 231px;
      padding: 0 16px;
      font-size: 18px;
      text-align: center;
      text-transform: uppercase;
      border: 1px solid map-deep-get($colors, 'base', 'red');
      background: map-deep-get($colors, 'base', 'red');
      font-family: map-get($fonts, 'medium');
      color: #FFF;
      &:hover {
        background-color: #fff;
        color: map-deep-get($colors, 'base', 'red');
      }
    }
  }
  &-linked {
    color: #1E7960;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 23px;
    text-decoration: underline;
    font-family: map-get($fonts, 'medium');
  }
  &-compare {
    display: flex;
    align-items: center;
    justify-self: start;
    margin-left: 10px;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 12px;
    text-align: left;
    &:before {
      content: '';
      display: inline-block;
      background-image: url('../images/libra.svg');
      width: 24px;
      height: 23px;
      margin-right: 10px;
    }
    span {
      flex: 1;
    }
  }
  &-load-more {
    @extend .btn;
    font-size: 18px;
    height: 54px;
    width: 226px;
    text-indent: 15px;
    background-color: #006A69;
  }
  &.big {
    height: 54px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 16px;
    font-size: map-get($fonts, 'bold');
  }
}
