.hamburger {
  width: 34px;
  height: 28px;
  @include mobileVisible('tablet-lg');
  position: relative;
  z-index: z('hight');
  cursor: pointer;
  align-self: center;
  margin: 0 0 0 15px;
  &.opened {
    background: #fff;
  }
  &__item {
    display: block;
    height: 3px;
    width: 100%;
    background: map-deep-get($colors, 'base', 'black-light');
    border-radius: 8px;
    transition: all .5 ease-in-out;
    position: absolute;

    &:nth-child(1) {
      top: 1px;
      .opened & {
        transform: rotate(45deg);
        top: 10px;
      }
    }

    &:nth-child(2),
    &:nth-child(3) {
      top: 11px;
      .opened & { width: 0; }
    }

    &:nth-child(4) {
      top: 21px;
      .opened & {
        transform: rotate(-45deg);
        top: 10px;
      }
    }
  }
}