.section-title {
  display: block;
  font-family: map-get($fonts, 'default');
  font-size: 42px;
  line-height: 54px;
  letter-spacing: 0;
  color: map-deep-get($colors, 'base', 'light-black');
  position: relative;
  z-index: 1;
  text-transform: uppercase;
  padding-top: 30px;
  @include media('<=tablet-lg') {
    font-family: map-get($fonts, 'medium');
    padding: 0 15px;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 31px;
  }
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 15px;
    width: 99px;
    height: 4px;
    background-color: #E5002B;
    @include media('<=tablet-lg') {
      bottom: -4px;
    }
  }
}