nav.navigation {
  height: 59px;
  border-top: 1px solid #D8D8D8;
  @include media('<=tablet-lg') {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
    z-index: z('hight');
    max-width: 100vw;
    width: 100vw;
    height: 100vh;
    left: 0;
    transform: translate(-100vw, 0);
    background: #F8F6F5;
    transition: transform .25s;
    background-color: #F2EFEC;
    &.opened {
      display: flex;
      transform: translate(0, 0);
      height: 100%;
      overflow-y: scroll;
    }
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    @include media('<=tablet-lg') {
      flex-direction: column;
      justify-content: flex-start;
    }
    .menu__wrap {
      height: 100%;
      line-height: 59px;
      @include media('<=tablet-lg') {
        height: auto;
        line-height: inherit;
        width: 100%;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0;
        line-height: 21px;
        background-color: #F2EFEC;
      }
      &.has-submenu {
        .submenu {
          @extend %listreset;
          position: absolute;
          width: 100%;
          left: 0;
          z-index: z('hight');
          height: auto;
          display: none;
          padding: 22px 20px;
          background-color: #ffffff;
          box-shadow: 0 4px 10px 0 rgba(0,0,0,0.1);
          transition: all .5s ease-in-out;
          @include media('<=tablet-lg') {
            display: none;
            position: static;
            background: transparent;
            box-shadow: none;
            padding: 2px 20px;
            &.opened {
              display: block;
            }
          }
          ul {
            @extend %listreset;
            padding: 0;
            column-count: 2;
            width: 60%;
            @include media('<=tablet-lg') {
              width: 100%;
              column-count: 1;
            }
            li {
              margin: 8px 0;
              line-height: 38px;
              @include media('<=tablet-lg') {
                line-height: normal;
              }
            }
          }
          &__item {
            margin: 0;
            display: block;
            width: 100%;
            color: map-deep-get($colors, 'base', 'black-light');
            @include media('<=tablet-lg') {
              padding: 0;
              height: 21px;
              font-size: 16px;
              color: #333333;
            }
            &:hover {
              color: map-deep-get($colors, 'base', 'link-hover');
              & > .submenu__link {
                background-color: rgba(map-deep-get($colors, 'theme', 'primary'), 0.04);
                @include media('<=tablet-lg') {
                  background-color: transparent;
                  border-color: transparent;
                }
              }
            }
          }
          &__image {
            max-width: 40%;
            @include media('<=tablet-lg') {
              display: none;
            }
          }
        }
        &:hover {
          .submenu {
            display: flex;
            justify-content: space-between;
            @include media('<=tablet-lg') {
              display: none;
              &.opened {
                display: block;
              }
            }
           
          }
          .menu__item {
            text-shadow:0px 0px 1px black;
            &:after {
              background-color: #1E7960;
              @include media('<=tablet-lg') {
                background: transparent;
                background-image: url(../images/chevron-right.svg);
              }
            }
          }
        }
        .menu__item {
          display: block;
          height: 59px;
          line-height: 59px;
          color: map-deep-get($colors, 'base', 'black-light');
          font-size: 18px;
          font-family: 'Futura PT';
          letter-spacing: 0;
          text-transform: uppercase;
          position: relative;
          @include media('<=tablet-lg') {
            padding: 0 15px 15px;
            font-family: map-get($fonts, 'default');
            display: flex;
            padding: 15px 14px;
            cursor: pointer;
            height: auto;
            line-height: normal;
            &.active {
              &:after {
                transform: rotate(90deg);
              }
            }
          }
          
          &:after {
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            bottom: 0;
            height: 4px;
            background-color: transparent;
            @include media('<=tablet-lg') {
              content: '';
              display: inline-block;
              position: static;
              background-image: url(../images/chevron-right.svg);
              width: 10px;
              height: 20px;
              margin-top: 1.5px;
              margin-left: 7px;
            }
          }
          &:hover {
            text-shadow:0px 0px 1px black;
            @include media('<=tablet-lg') {
              text-shadow: none;
            }
            &:after {
              background-color: #1E7960;
              @include media('<=tablet-lg') {
                background: transparent;
                background-image: url(../images/chevron-right.svg);
              }
            }
          }
        }
      }
    }
    .menu__item {
      display: block;
      height: 59px;
      line-height: 59px;
      color: map-deep-get($colors, 'base', 'black-light');
      font-size: 18px;
      font-family: 'Futura PT';
      letter-spacing: 0;
      text-transform: uppercase;
      position: relative;
      @include media('<=tablet-lg') {
        padding: 0 15px 15px;
        font-family: map-get($fonts, 'default');
        display: flex;
        padding: 15px 14px;
        cursor: pointer;
        height: auto;
        line-height: normal;
        &.opened {
          &:after {
            transform: rotate(90deg);
          }
        }
      }
      
      &:after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        bottom: 0;
        height: 4px;
        background-color: transparent;
        @include media('<=tablet-lg') {
          content: '';
          display: inline-block;
          position: static;
          // background-image: url(../images/chevron-right.svg);
          width: 10px;
          height: 20px;
          margin-top: 1.5px;
          margin-left: 7px;
        }
      }
      &:hover {
        text-shadow:0px 0px 1px black;
        @include media('<=tablet-lg') {
          text-shadow: none;
        }
        &:after {
          background-color: #1E7960;
          @include media('<=tablet-lg') {
            background: transparent;
            // background-image: url(../images/chevron-right.svg);
          }
        }
      }
    }
  }
}