.slick-dots {
  display: flex;
  justify-content: center;
  @extend %listreset;
  li {
    margin: 15px 7.5px;
    &.slick-active {
      button {
        background: #E5002B;
      }
    }
    button {
      width: 13px;
      height: 13px;
      border-radius: 100%;
      background: #D8D8D8;
      border: none;
      color: transparent;
      outline: none;
    }
  }
}

.slick-arrow {
  @include media('<=tablet-lg') {
    transform: translateY(0%);
  }
  &.arrow-left.default {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 32px;
    height: 32px;
    background-color: #1E7960;
    z-index: 1;
    display: block;
    background-image: url('../images/chevron.svg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    transform: rotate(-180deg);
    left: -16px;
    @include media('<=tablet-lg') {
      left: 10px;
    }
  }
  &.arrow-right.default {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 32px;
    height: 32px;
    background-color: #1E7960;
    z-index: 1;
    display: block;
    background-image: url('../images/chevron.svg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    right: -16px;
    @include media('<=tablet-lg') {
      right: 10px;
    }
  }
  &.slick-disabled {
    opacity: 0.5;
  }
}