footer {
  position: relative;
  z-index: 1;
  background: #F2EFEC;
}
.subscribe-panel {
  background: map-deep-get($colors, 'theme', 'green');
  padding: 29px 0;
  .container {
    display: flex;
    justify-content: space-between;
    @include media('<=tablet-lg') {
      flex-direction: column;
    }
    .subscribe-panel__label {
      color: #ffffff;
      height: 46px;
      width: 309px;
      color: #FFFFFF;
      font-family: map-get($fonts, 'default');
      font-size: 18px;
      font-weight: 500;
      letter-spacing: 0;
      line-height: 23px;
      @include media('<=tablet-lg') {
        margin: 0 auto 15px;
        font-family: map-get($fonts, 'medium');
      }
    }
    .subscribe-panel__form {
      width: 800px;
      display: flex;
      justify-content: flex-end;
      @include media('<=tablet-lg') {
        width: 100%;
        flex-direction: column;
        padding: 0 15px;
      }
      input {
        width: 597px;
        height: 44px;
        margin-right: 15px;
        padding: 13px 18px;
        @include placeholder {
          color: #C9BBBB;
        }
        @include media('<=tablet-lg') {
          width: 100%;
        }
      }
      .btn-white {
        @include media('<=tablet-lg') {
          width: 135px;
          margin: 15px auto 0;
        }
      }
    }
  }
}

.footer-info {
  padding: 60px 0;
  display: flex;
  justify-content: space-between;
  @include media('<=tablet-lg') {
    flex-direction: column;
    padding: 30px 15px;
  }
  &__logo {
    img {
      max-width: 175px;
      @include media('<=tablet-lg') {
        margin: 0 0 30px;
      }
    }
    .turkey {
      margin-top: 76px;
      display: flex;
      align-items: center;
      @include media('<=tablet-lg') {
        justify-content: flex-start;
        margin: 0 0 20px;
      }
      img {
        margin-right: 15px;
        max-width: 87px;
      }
    }
  }
  &__menu {
    @include media('<=tablet-lg') {
      margin: 0 0 20px;
    }
    span.title {
      display: block;
      font-size: 30px;
      color: map-deep-get($colors, 'base', 'black-light');
      margin: 0 0 17px;
    }
    ul {
      @extend %listreset;
      li {
        margin: 0 0 19px;
        a.menu__item {
          color: map-deep-get($colors, 'base', 'black-light');
          font-size: map-deeg-get($font-size, 'base');
          &:hover {
            color: map-deep-get($colors, 'base', 'link-hover');
          }
        }
      }
    }
    .info__menu__call {
      font-size: map-deeg-get($font-size, 'base');
      &:before {
        content: '';
        display: inline-block;
        margin-right: 10px;
        vertical-align: middle;
      }
      &:before {
        background-image: url('../images/telephone.svg');
        width: 26px;
        height: 24px;
      }
      &back {
        @include media('<=tablet-lg') {
          width: 183px;
        }
      }
    }
  }
}

.footer-copy {
  background: #E8E5E2;
  padding: 17px 0;
  @include media('<=tablet-lg') {
    padding: 25px 15px;
  }
  span {
    @include media('<=tablet-lg') {
      display: block;
      margin: 0 0 15px;
    }
  }
  a {
    margin: 0 25px;
    color: map-deep-get($colors, 'base', 'black-light');
    @include media('<=tablet-lg') {
      display: block;
      margin: 15px 0;
      font-size: 16px;
      font-weight: 300;
      letter-spacing: 0;
      line-height: 34px;
    }
  }
}