.category-grid-wrapper {
  margin: 50px 0;
  .container {
    position: relative;
    &:after {
      content: '';
      position: absolute;
      z-index: 0;
      top: 0;
      left: -139px;
      height: 470px;
      width: 500px;
      background-color: #F2EFEC;
      @include media('<=tablet-lg') {
        display: none;
      }
    }
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    margin-top: 30px;
    @include media('<=tablet-lg') {
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 4px;
      grid-row-gap: 4px;
      margin-top: 10px;
    }
    &__category-item {
      position: relative;
      z-index: 1;
      display: flex;
      img {
        height: 270px;
        width: 100%;
        @include media('<=tablet-lg') {
          width: auto;
          height: auto;

        }
      }
      &--layer {
        position: absolute;
        bottom: 0px;
        width: 100%;
        height: 270px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-bottom: 30px;
        background: url('../images/layer.svg');
        background-repeat: no-repeat;
        background-position: 50% 100%;
        @include media('<=tablet-lg') {
          justify-content: center;
          padding-bottom: 0px;
        }
        span {
          color: #FFFFFF;
          font-family: map-get($fonts, 'default');
          font-size: 24px;
          font-weight: 500;
          letter-spacing: 0;
          line-height: 31px;
          text-align: center;
          @include media('<=tablet-lg') {
            line-height: 18px;
            margin: 5px;
            text-shadow: 0 0 5px #000;
          }
        }
        i {
          color: #FFFFFF;
          font-family: map-get($fonts, 'playfair');
          font-style: italic;
        }
        @include media('<=tablet-lg') {
          height: 100%;
        }
      }
    }
    @include media('>tablet-lg') {
      &__category-item:nth-child(9n+1),
      &__category-item:nth-child(9n+6) {
        grid-column: 1/5;
      }
      &__category-item:nth-child(9n+2),
      &__category-item:nth-child(9n+7) {
        grid-column: 5/9;
      }
      &__category-item:nth-child(9n+3),
      &__category-item:nth-child(9n+8) {
        grid-column: 9/13;
      }
      &__category-item:nth-child(9n+4) {
        grid-column: 1/7;
      }
      &__category-item:nth-child(9n+5) {
        grid-column: 7/13;
      }
      &__category-item:nth-child(9n+9) {
        grid-column: 1/13;
      }
    }
    @include media('<=tablet-lg') {
      &__category-item:last-child {
        grid-column: 1/3;
      }
    }
  }
}