.sales {
  margin: 50px 0;
  background: #FCE2E7;
  @include media('<=tablet-lg') {
    padding: 20px 15px;
  }
  .sales-info {
    width: 50%;
    align-self: center;
    @include media('<=tablet-lg') {
      width: 100%;
    }
    h2 {
      font-size: 42px;
      font-weight: 500;
      letter-spacing: 0;
      line-height: 24px;
      margin: 0 0 30px;
      @include media('<=tablet-lg') {
        font-size: 24px;
        font-weight: 500;
        letter-spacing: 0;
        line-height: 24px;
      }
    }
    p {
      font-size: 18px;
      font-weight: 500;
      letter-spacing: 0;
      line-height: 30px;
      margin: 0;
    }
    .btn {
      margin-top: 30px;
      width: 160px;
    }
  }
  .sales-hero {
    width: 50%;
    padding-left: 40px;
    @include media('<=tablet-lg') {
      display: none;
    }
  }
}