.why-us {
  margin: 70px 0;
  .flex {
    @include media('<=tablet-lg') {
      flex-direction: column;
      padding: 0 15px;
    }
  }
  .left-block {
    width: 50%;
    @include media('<=tablet-lg') {
      width: 100%;
    }
    ol {
      counter-reset: item;
      @extend %listreset;
      column-count: 2;
      margin-top: 40px;
      @include media('<=tablet-lg') {
        column-count: 1;
      }
      li {
        margin: 0 0 46px;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 0;
        line-height: 26px;
        font-family: map-get($fonts, 'medium');
        padding: 6px 0;
        b {
          display: block;
        }
        &:before {
          content: counter(item) "";
          counter-increment: item;
          font-size: 60px;
          line-height: 50px;
          font-family: map-get($fonts, 'bold');
          font-weight: bold;
          letter-spacing: 0;
          color: #1E7960;
          float: left;
          margin: 0 10px 0 0;
          padding: 0 5px;
        }
      }
    }
    .cta-tip {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 18px;
      margin-top: 18px;
      @include media('<=tablet-lg') {
        flex-direction: column;

      }
      .btn {
        width: 226px;
        margin-right: 40px;
        text-indent: 15px;
        @include media('<=tablet-lg') {
          background-position: 85% 50%;
          height: 54px;
          line-height: 52px;
          margin: 0 auto;
          order: 2;
          font-size: 16px;
          text-indent: 20px;
        }
      }
      .tip {
        color: #E5002B;
        font-family: map-get($fonts, 'medium');
        @include media('<=tablet-lg') {
          max-width: 100%;
          padding: 0 15px;
          margin: 20px auto;
          order: 1;
        }
        b {
          display: block;
          text-transform: uppercase;
          font-family: map-get($fonts, 'bold');
        }
      }
    }
  }
  .right-block {
    width: calc( 50% - 39px );
    margin-top: -70px;
    margin-left: 39px;
    @include media('<=tablet-lg') {
      width: 100%;
      display: none;
    }
  }
}