.banner {
  position: relative;
  margin: 20px 0 0;
  @include media('<tablet-lg') {
    display: block;
    margin: 20px 0 100px;
  }
  &__slider {
    @include media('<tablet-lg') {
      width: 100%;
      max-width: 100%;
      img {
        height: 245px;
        object-fit: cover;
      }
    }
  }
  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    @include media('<tablet-lg') {
      padding: 0 15px;
    }
    &-wrapper {
      max-width: 640px;
      @include media('<=tablet-lg') {
        max-width: 80%;
      }
      h1 {
        margin: 0 0 10px;
        color: #333333;
        font-family: map-get($fonts, 'medium');
        font-size: 42px;
        font-weight: 500;
        letter-spacing: 0;
        line-height: 52px;
        @include media('<=tablet-lg') {
          font-size: 20px;
          line-height: 26px;
        }
        span {
          color: #E5002B;
        }
      }
      p {
        font-size: 20px;
        letter-spacing: 0;
        line-height: 32px;
        margin: 0 0 27px;
        @include media('<=tablet-lg') {
          font-size: 12px;
          line-height: 18px;
        }
      }
      .flex {
        justify-content: start;
        @include media('<=tablet-lg') {
          position: absolute;
          bottom: -125px;
        }
        .btn-invert {
          margin: 0 20px 0 0;
          @include media('<=tablet-lg') {
            max-width: 160px;
            background-image: none;
            margin: 0 10px 0 0;
          }
        }
      }
    }
  }
}