
.grid4 {
  display: block;
  @include media('<=tablet-lg') {
    display: block;
  }
  .catalog-grid__item {
    height: 542px;
    @include media('<=tablet-lg') {
      height: auto;
    }
    &-overlay {
      padding: 22px 18px;
      @include media('<=tablet-lg') {
        padding: 22px 18px 44px;
      }
    }
  }
}

@include media('<=tablet-lg') {
  .mt15m {
    margin: -10px 0 30px!important;
  }
}

.related-items {
  .slick-list {
    margin: 0 -14px;
    @include media('<tablet-lg') {
      margin: 0;
    }
    .slick-slide {
      margin: 0 14px;
      outline: none;
      &:focus {
        outline: none;
      }
    }
  }
}