
.grid4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 30px;
  margin: 43px 0 30px;
  @include media('<=tablet-lg') {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
  }
  .catalog-grid__item {
    height: 530px;
    @include media('<=tablet-lg') {
      height: auto;
    }
  }
}